.object {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100%;
  z-index: 0;
}

.back {
  position: absolute;
  top: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  border-style: solid;
  border-color: rgb(40, 40, 40);
  background-color: transparent;
}

.screen {
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.line {
  position: absolute;
  top: 0;
  z-index: 1;
  stroke: rgb(70, 70, 70);
  stroke-width: 3px;
  fill: transparent;
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

.eisyaki {
  position: fixed;
  top: 18%;
  left: -7%;
  z-index: 3;
  width: 1000px;
  height: 1000px;
  -webkit-transform: scale(1.5, 1);
          transform: scale(1.5, 1);
  -webkit-transform-origin: 20% 0;
          transform-origin: 20% 0;
}

.body {
  position: absolute;
  top: 37%;
  left: 0%;
  z-index: 1;
  fill: rgb(160, 160, 160);
  stroke: rgb(70, 70, 70);
  stroke-width: 5px;
  -webkit-transform: scale(1, 1.6);
          transform: scale(1, 1.6);
}

.film-side {
  position: absolute;
  top: -2.3%;
  left: -0.7%;
  z-index: 2;
  stroke: rgb(70, 70, 70);
  stroke-width: 6px;
  fill: rgb(160, 160, 160);
  -webkit-transform: scale(0.65, 1.285);
          transform: scale(0.65, 1.285);
}

.film {
  position: absolute;
  top: 0%;
  left: 1%;
  z-index: 3;
  -webkit-transform: rotateY(80deg) rotate(0deg);
          transform: rotateY(80deg) rotate(0deg);
}
.film circle {
  stroke: rgb(70, 70, 70);
  stroke-width: 5px;
  fill: rgb(160, 160, 160);
}
.film circle:nth-of-type(2) {
  fill: rgb(70, 70, 70);
}
.film use {
  stroke: rgb(70, 70, 70);
  stroke-width: 15px;
  fill: rgb(220, 220, 220);
}
.film use:nth-of-type(1) {
  -webkit-transform: scale(0.08, 0.08) translate(440px, 190px) rotate(0deg);
          transform: scale(0.08, 0.08) translate(440px, 190px) rotate(0deg);
}
.film use:nth-of-type(2) {
  -webkit-transform: scale(0.08, 0.08) translate(910px, 250px) rotate(60deg);
          transform: scale(0.08, 0.08) translate(910px, 250px) rotate(60deg);
}
.film use:nth-of-type(3) {
  -webkit-transform: scale(0.08, 0.08) translate(1095px, 685px) rotate(120deg);
          transform: scale(0.08, 0.08) translate(1095px, 685px) rotate(120deg);
}
.film use:nth-of-type(4) {
  -webkit-transform: scale(0.08, 0.08) translate(815px, 1060px) rotate(180deg);
          transform: scale(0.08, 0.08) translate(815px, 1060px) rotate(180deg);
}
.film use:nth-of-type(5) {
  -webkit-transform: scale(0.08, 0.08) translate(345px, 1010px) rotate(240deg);
          transform: scale(0.08, 0.08) translate(345px, 1010px) rotate(240deg);
}
.film use:nth-of-type(6) {
  -webkit-transform: scale(0.08, 0.08) translate(150px, 575px) rotate(300deg);
          transform: scale(0.08, 0.08) translate(150px, 575px) rotate(300deg);
}

.film-side2 {
  position: absolute;
  top: 15.2%;
  left: -6.5%;
  z-index: 2;
  stroke: rgb(70, 70, 70);
  stroke-width: 7px;
  fill: rgb(160, 160, 160);
  -webkit-transform: scale(0.6, 1.03);
          transform: scale(0.6, 1.03);
}

.film2 {
  position: absolute;
  top: 22%;
  left: 0%;
  z-index: 4;
  -webkit-transform: rotateY(80deg) rotate(0deg);
          transform: rotateY(80deg) rotate(0deg);
}
.film2 circle {
  stroke: rgb(70, 70, 70);
  stroke-width: 5px;
  fill: rgb(160, 160, 160);
}
.film2 circle:nth-of-type(2) {
  fill: rgb(70, 70, 70);
}
.film2 use {
  stroke: rgb(70, 70, 70);
  stroke-width: 15px;
  fill: rgb(220, 220, 220);
}
.film2 use:nth-of-type(1) {
  -webkit-transform: scale(0.08, 0.08) translate(440px, 180px) rotate(0deg);
          transform: scale(0.08, 0.08) translate(440px, 180px) rotate(0deg);
}
.film2 use:nth-of-type(2) {
  -webkit-transform: scale(0.08, 0.08) translate(930px, 245px) rotate(60deg);
          transform: scale(0.08, 0.08) translate(930px, 245px) rotate(60deg);
}
.film2 use:nth-of-type(3) {
  -webkit-transform: scale(0.08, 0.08) translate(1120px, 680px) rotate(120deg);
          transform: scale(0.08, 0.08) translate(1120px, 680px) rotate(120deg);
}
.film2 use:nth-of-type(4) {
  -webkit-transform: scale(0.08, 0.08) translate(820px, 1080px) rotate(180deg);
          transform: scale(0.08, 0.08) translate(820px, 1080px) rotate(180deg);
}
.film2 use:nth-of-type(5) {
  -webkit-transform: scale(0.08, 0.08) translate(330px, 1020px) rotate(240deg);
          transform: scale(0.08, 0.08) translate(330px, 1020px) rotate(240deg);
}
.film2 use:nth-of-type(6) {
  -webkit-transform: scale(0.08, 0.08) translate(130px, 580px) rotate(300deg);
          transform: scale(0.08, 0.08) translate(130px, 580px) rotate(300deg);
}

.sankyaku {
  position: absolute;
  top: 98%;
  left: 4%;
  z-index: 0;
  stroke: rgb(70, 70, 70);
  stroke-width: 3px;
  fill: rgb(160, 160, 160);
  -webkit-transform: scale(1.5, 1.8);
          transform: scale(1.5, 1.8);
}

.light {
  position: absolute;
  top: 14%;
  left: 12%;
  z-index: 0;
  stroke: transparent;
  stroke-width: 1px;
  -webkit-transform: rotateZ(-4deg);
          transform: rotateZ(-4deg);
}

@media (max-width: 480px) {
  .eisyaki {
    top: 40%;
    left: -50%;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .eisyaki {
    top: 25%;
    left: -40%;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .eisyaki {
    top: 30%;
    left: -25%;
  }
}
@media (min-width: 1280px) and (max-width: 1440px) {
  .eisyaki {
    left: -15%;
  }
}/*# sourceMappingURL=object.css.map */