@use "base";

$black: rgb(70, 70, 70);
$gray: rgb(160, 160, 160);

html {
    font-family: "Kaisei Opti", serif;
    font-weight: 600;
    font-size: 10px;
    
}

body {
    padding: 0;
    background-color: white;
    overflow-x: hidden;
}


.curtain {
    position: absolute;
    top: -10px;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100vh;

    &__img {
        position: absolute;
        top: 0;
        left: -50%;
        width: 100%;
        transition: transform 2s linear;

        &:nth-of-type(2) {
            left: auto;
            right: -50%;
        }
        
    }
}



.nav {
    position: fixed;
    top: 0%;
    right: 0%;
    z-index: 2;
    width: 0px;
    height: 1000px;
    margin: 60px 60px;
   

    &__inner {
        position: absolute;
        top: 0;
        right: 0;
        width: 120px;
        height: 64px;
        background-color: white;

        &:first-of-type {
            background-color: $gray;
        }

        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 1;
            width: 50px;
            height: 50px;
            font-size: 5rem;
            background-color: transparent;
            transform: translate(-50%, -58%);
        }

        &:nth-of-type(1) {
            &::before {
                content: "①";
            }
        }

        &:nth-of-type(2) {
            top: 9%;
            &::before {
                content: "②";
            }
        }

        &:nth-of-type(3) {
            top: 18%;
            &::before {
                content: "③";
            }
        }

        &:nth-of-type(4) {
            top: 27%;
            &::before {
                content: "④";
            }
        }

        &:nth-of-type(5) {
            top: 36%;
            &::before {
                content: "⑤";
            }
        }
    }

    svg {
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);

        use:nth-of-type(odd) {
            stroke: black;
            stroke-width: 100px;
            fill: transparent;
        }

        use:nth-of-type(even) {
            stroke: white;
            stroke-width: 5px;
            stroke-linejoin: round;
            fill: white;
        }
    }
}

.item {
    padding-top: 40vh;
    width: 100%;
    height: 100vh;
    background-color: rgb(240, 240, 240);
    color: rgb(40, 40, 40);
    text-align: center;
    font-size: calc(14vh);
    white-space: nowrap;



    &:first-of-type {
        padding-top: 27vh;
        font-size: calc(11vh);
        line-height: calc(14vh);
        background-color: rgb(40, 40, 40);
    }

    &__title {
        margin: 0 auto;
        width: 50vw;
    }

    &__text {
        margin: 0 auto;
    }
}

@media (max-width: 480px) {
    .item {
        font-size: calc(4vh);
        white-space: wrap;

        &:first-of-type {
            font-size: calc(5vh);
            line-height: calc(8vh);
        }
    }

    .nav {
        display: none;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .item {
        font-size: calc(8vh);
        white-space: wrap;

        &:first-of-type {
            font-size: calc(5vh);
            line-height: calc(9vh);
        }
    }

    .nav {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1279px) {
    .item {
        font-size: calc(7vh);
        white-space: wrap;

        &:first-of-type {
            padding-top: 30vh;
            font-size: calc(6vh);
            line-height: calc(10vh);
        }
    }

    .nav {
        margin: 40px 50px;
        transform: scaleX(0.7);
    }
}

@media (min-width: 1280px) and (max-width: 1440px) {
    .item {
        font-size: calc(10vh);

        &:first-of-type {
            padding-top: 30vh;
            font-size: calc(9vh);
            line-height: calc(12vh);
        }
    }
}